.btnstyle{
    height: 60px;
    width: 60px;
    border-radius: 40px;
    background-color:rgba(252, 179, 21, 0.863);
    color: black;
    box-shadow: 2px 2px 7px rgb(250, 206, 124);
    border: 1px solid rgba(0, 0, 0, 0.863);
}
.btnstyle:hover{
    box-shadow: none;
    background-color: black;
    color: rgba(252, 179, 21, 0.863);
}
.displaystyle{
    background-color: rgb(178, 218, 233);
    color: rgb(1, 5, 8);
    height: 100px;
    width: 310px;
    border-radius: 30px;
    padding-left: 20px;
    padding-top: 10px;
}
body{
    background-color: black;
}
.card{
    background-color: #121414;
    border-radius: 30px;
    box-shadow: 1px 1px 20px whitesmoke;
}